.navbar {
    background-image: -webkit-linear-gradient(#00A2FF,#2fa4e7 60%,#1d9ce5);
    background-image: linear-gradient(#00A2FF,#00A2FF 60%,#00A2FF);
    background-repeat: no-repeat;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}



.navbar .navbar-nav>li>a, .navbar-brand {
    color: white;
}

.navbar-brand{
    /* display : none; */
}

/* .oe_topbar_item oe_topbar_compose_full_email {
  display : none;
}
.odoo .oe_topbar_item.oe_topbar_compose_full_email {
	display: none;
} */
